/* microsite old theme styles */
body {
  background-color:#F5F5F4;
  color:#333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size:14px;
}

a {
  color:#544e49;
}

a:hover {
  color:#d54e21;
}

#page {
  /*width:1132px;*/
  margin:0 auto;
  position: relative;
  max-width: 1023px;
  box-shadow: 0 0 6px #999;
  background: #FFF;
  overflow: hidden;
}

p {
  margin-bottom:7px;
}

h1,
h1.page-title {
  font-size:32px;
  color:#544e49;
  font-family:Georgia, "Times New Roman", Times, serif;
}

h2 {
  color:#544e49;
  font-size:25px;
  line-height:28px;
  margin-bottom: 7px;
  margin-top:2px;
}

.front #page-title,
.page-course-overview #page-title {
  display:none;
}

nav.menu-wrapper {
  margin:0;
}

#menu-bar .menu {
  background:#D2CDC7;
}

#menu-bar .menu li {
  background:#D2CDC7;
  border-right:1px solid #FFF;
  /*line-height: 50px;
  height:50px;*/
  text-align:center;
  width:24.9%;
}

#menu-bar .menu li.last {
  border-right:none;
}

#menu-bar ul.menu li a {
  color: #544E49;
  font-size: 12px;
  text-transform: uppercase;
  font-family: Helvetica,Arial,sans-serif;
  overflow:hidden;
  padding:20px 20px 10px;
  display:block;
  background:url('../images/for.png');
  background-position:center 9px;
  background-repeat: no-repeat;
}

#menu-bar ul.menu li.active-trail a {
  background:#544e49 url('../images/for-over-1.png');
  color:#FFF;
  background-position:center 9px;
  background-repeat: no-repeat;
}

#menu-bar ul.menu li a:hover {
  text-decoration: none;
  color:#FFF;
  background:#96938C url('../images/for-over-1.png');
  background-position:center 9px;
  background-repeat: no-repeat;
}

/* responsive menu overrides */
.responsive-menus.responsified span.toggler,
.responsive-menus.responsified .responsive-menus-simple {
  border-radius:0px !important;
  box-shadow: none;
}

/* header styles */
#header {
  padding:10px;
}

.region-header .block {
  margin-bottom:0;
}

.region-header ul.menu {
  width:300px;
  float:right;
}

.region-header ul.menu li {
  list-style:none;
  float:left;
}

.region-header ul.menu li a {
  padding:0 10px;
}

.region-header ul.menu li.about-us a {
  border-left:1px solid #CCC;
  border-right:1px solid #CCC;
}

#branding {
  float:left;
  width:350px;
}

#main-content {
  /*background: #EEECE1;*/
  width: 100%;
  /*box-shadow: 0 0 3px #999;  */
  margin: 0 0 2.7% 0;
  padding:4px 10px;
  box-sizing:border-box;
}

/* tertiary region */
.region-tertiary-content .block {
  width:340px;
  float:left;
}

.region-tertiary-content .block .content > div {
  width:170px;
  float:left;
}

.region-tertiary-content .block .block-inner {
  line-height:10px;
  box-shadow:0px 2px 5px #666;
}

.region-tertiary-content .block p {
  margin:0;
  display:block;
  float:left;
  line-height:14px;
  text-transform: uppercase;
  width:150px;
  text-align:center;
}

.region-tertiary-content .block p a {
  color:#FFF;
  display:block;
  padding:47px 0;
}

.region-tertiary-content .what-to-expect .block-inner {
  background: #B6C9E2;
}

.service-areas h2,
.region-tertiary-content .clients .block-inner {
  background: #8D1944;
}

.service-areas h2 {
  text-align: center;
  color:#FFF;
}

.service-areas .view-content ul {
  padding:10px 0 0 0;
  background:#B6C9E2;
}

.service-areas .view-content ul li {
  list-style:none;
  text-align: center;
  margin:0;
  padding:20px 33px;
}

.service-areas .view-content ul li a {
  color:#666;
  font-size:20px;
  font-weight:bold;
}

.region-tertiary-content .contact-us .block-inner {
  background: #CEC8A7;
}

/* footer styles */
#copyright {
  clear: both;
  padding: 0 20px;
  box-shadow: 0 -1px 3px #ccc;
  background: #e0e0e0;
  background: -moz-linear-gradient(#e3e3e3,#ddd);
  background: -webkit-linear-gradient(#e3e3e3,#ddd);
  background: -o-linear-gradient(#e3e3e3,#ddd);
  background: -ms-linear-gradient(#e3e3e3,#ddd);
  background: linear-gradient(#e3e3e3,#ddd);
  color: #999;
  line-height: 40px;
  overflow: hidden;
}

.copyright,
.credits {
  margin-bottom:0;
}

.copyright {
  float:left;
}

.credits {
  float:right;
}