/* microsite old theme styles */
body {
  background-color:#F5F5F4;
  color:#333;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  font-size:14px;
}

a {
  color:#544e49;
}

a:hover {
  color:#d54e21;
}

#page {
  /*width:1132px;*/
  margin:0 auto;
  position: relative;
  /*max-width: 1132px;*/
  box-shadow: 0 0 6px #999;
  background: #FFF;
  overflow: hidden;
}

p {
  margin-bottom:7px;
}

h1,
h1.page-title {
  font-size:32px;
  color:#544e49;
  font-family:Georgia, "Times New Roman", Times, serif;
}

h2 {
  color:#544e49;
  font-size:25px;
  line-height:28px;
  margin-bottom: 7px;
  margin-top:2px;
}

.front #page-title,
.page-course-overview #page-title {
  display:none;
}

nav.menu-wrapper {
  margin:0;
}

.menu {
  background:#ddd9c2;
}

.menu li {
  background:#ddd9c2;
  border-right:1px solid #FFF;
  line-height: 40px;
  width:16.5%;
  text-align:center;
}

.menu li.last {
  border-right:none;
}

.nav li a,
.nav ul.menu li a {
  color: #544E49;
  font-size: 12px;
  text-transform: uppercase;
  font-family: Helvetica,Arial,sans-serif;
}


.nav ul.menu li.active-trail {
  background:#544e49;
}

.nav ul.menu li.active-trail a {
  color:#FFF;
}

.nav ul.menu li a:hover {
  text-decoration: none;
  color:#FFF;
  background:#96938C;
}

.nav ul.menu li.venue {
  border-right:none;  
}

.nav ul.menu li a {
  overflow:hidden;
}


.nav ul.menu li.course-overview a {
  padding:0 20%;
}

.nav ul.menu li.schedule,
.nav ul.menu li.faculty {
  width:13%;
}

.nav ul.menu li.schedule a {
  padding:0 20%;
}

.nav ul.menu li.faculty a {
  padding:0 33%;
}

.nav ul.menu li.accreditation a {
  padding:0 23%;
}

.nav ul.menu li.venue a {
  /*padding:0 66px;*/
  padding:0 30%;
}

.nav ul.menu li.registration-information {
  float:right;
  width:24%;
}

.nav ul.menu li.registration-information a {
  border-right:none;
  background:#830808;
  color:#FFF;
  padding:0 20%;
}

.nav ul.menu li.registration-information:hover a {
  background:#500505;
}

/* responsive menu overrides */
.responsive-menus.responsified span.toggler,
.responsive-menus.responsified .responsive-menus-simple {
  border-radius:0px !important;
  box-shadow: none;
}

/* header styles */
#header {
  padding:10px;
}

.block-course-info {
  margin-bottom:0;
}

.header-block {
  padding-right:224px;
  background-image: url('/sites/all/themes/microsite_base_theme/images/harvard-medical-school-logo.png');
  background-repeat: no-repeat;
  background-position: right center;
}

.header-block p {
  margin-bottom:0;
  font-weight: bold;  
}

.header-block p.course-prefix,
.header-block p.course-name a {
  color: #A51C30;
  font-family: Georgia,"Times New Roman",Times,serif;
}

.header-block p.course-prefix{
  font-size:20px;
  line-height:20px;
}

.header-block p.course-name a {
  font-size:36px;
  line-height:48px;
}

.header-block .course-venue-date,
.header-block .course-city-state {
  color: #544e49;
  margin-bottom: 6px;
}

.header-block .course-venue-date {
  font-size: 25px;
  line-height: 1.62em;  
}

.header-block .course-city-state {
  font-size: 18px;
  line-height: 16px;  
  font-weight:normal;
}

/* sidebar right */

.brochure-download,
.contact-link {
  background-repeat:no-repeat;
}

.brochure-download {
  background-image: url('../images/adobe-reader.png');
}

.contact-link {
  background-image: url('../images/at-symbol.png');
  background-position: 10px 2px;
  margin-top:10px;
}

.brochure-download a,
.contact-link a {
  display:block;
  padding:15px 0 15px 60px;
}

/* sidebar styles */
.sidebar h3,
.sidebar h2,
.sidebar .earlybird {
  background: #8C8179;
  color: #FFF;
  padding: 0 10px;
  font-size: 1.2em;
  margin:0 0 5px 0;
  font-weight:bold;
}

.sidebar .earlybird {
  text-align: center;
}

.sidebar .earlybird a,
.sidebar .earlybird a:hover {
  color:#FFF;
  text-decoration: none;
}

.sidebar .earlybird.earlybird-register {
  font-size: 1.1em;
  padding: 2px 10px;
}

.sidebar .views-field-field-first-name {
  font-weight:bold;
  font-size:12px;
}

.sidebar .views-field-field-bio,
.sidebar ul li {
  font-size:12px;
}

.sidebar .views-row {
  margin-bottom:10px;
}

#main-content {
  background: #EEECE1;
  width: 100%;
  box-shadow: 0 0 3px #999;  
  margin: 0 0 2.7% 0;
  padding:4px 10px;
  box-sizing:border-box;
}

#columns {
  margin-top:30px;
}

/* registration information styles */
.page-registration-information table tr {
  background-color:#FFF;
}

.page-registration-information table tr h2 {
  margin:0;
  font-size:12px;
}

.view-faculty h3 {
  text-align: center;
  border-bottom: 1px solid #CCC;
  line-height: 28px;
  margin-top:20px;
  margin-bottom: 7px;
  color: #544e49;
  font-size: 25px;
}

.view-faculty .item-list ul li {
  margin:4px 0 3px 0;
  list-style: none;
}

/* footer styles */
#copyright {
  clear: both;
  padding: 0 20px;
  box-shadow: 0 -1px 3px #ccc;
  background: #e0e0e0;
  background: -moz-linear-gradient(#e3e3e3,#ddd);
  background: -webkit-linear-gradient(#e3e3e3,#ddd);
  background: -o-linear-gradient(#e3e3e3,#ddd);
  background: -ms-linear-gradient(#e3e3e3,#ddd);
  background: linear-gradient(#e3e3e3,#ddd);
  color: #999;
  line-height: 40px;
  overflow: hidden;
}

.copyright,
.credits {
  margin-bottom:0;
}

.copyright {
  float:left;
}

.credits {
  float:right;
}